.carousel {
  position: relative;
  margin-top: 1em;
  display: flex;
  width: 46.5%;
  height: 46.5%;
}

.carousel-control-prev, .carousel-control-next {
  height: 1em;
  top: 50%;
}

.h3 {
  position: relative;
  font-size: 1.3em;
}

.about {
  position: relative;
  margin-top: 1em;
}

.about-right {
  margin: 0.1em 1em;
  text-align: left;
}

#resume-btn p {
  display: inline-block;
  color: white;
  font-size: 1.2em;
  margin-top: .80em;
  margin-bottom: .90em;
  width: 5em;
  position: relative;
  left: 1%;
}

@media screen and (min-width: 320px) {
  .about-right {
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about-right {
    font-size: 19.3px;
  }
}

@media screen and (max-width: 600px) {
  /* #about img{
    position: relative;
    width: 100%;
    height: 84%;
    margin-left: 5%;
    transform: translateY(-1%);
  } */

  .row{
    justify-content: center;
  }
  .about-right {
    padding: 0
  }
}
