.carousel {
  position: relative;
  display: flex;
  width: 50%;
  margin: auto;
}

.carousel-control-prev, .carousel-control-next {
  height: 1em;
  top: 50%;
  bottom: auto;
}

.h3 {
  position: relative;
  font-size: 1.3em;
}

.about {
  position: relative;
  margin: auto
}

.about-right {
  margin: auto;
  text-align: left;
}

#resume-btn p {
  display: inline-block;
  color: white;
  font-size: 1.2em;
  margin-top: .40em;
  margin-bottom: .50em;
  width: 5em;
  position: relative;
  left: 1%;
}

#ion-resume {
  position: relative;
  top: 0.15em
}

@media screen and (min-width: 320px) {
  .about-right {
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .about-right {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  /* #about img{
    position: relative;
    width: 100%;
    height: 84%;
    margin-left: 5%;
    transform: translateY(-1%);
  } */

  .row{
    justify-content: center;
  }
  .about-right {
    padding: 0
  }
}
