.img {
  position: relative;
  justify-items: left;
  width: 50vw;
  height: 90vh;
}

.carousel {
  position: relative;
  display: flex;
  width: 45%;
  height: 45%;
}

.about {
  position: relative;
  margin-top: 0.5em;
  height: 100vh;
  width: 100vw;
}

.about-right {
  margin: 0.1em 1em;
  text-align: left;
  font-size: 1.2em;
}

#resume-btn p {
  display: inline-block;
  color: white;
  font-size: 1.2em;
  margin-top: .80em;
  margin-bottom: .90em;
  width: 5em;
  position: relative;
  left: 1%;
}