
.container {
  column-count: 4;
  grid-gap: 2px;
  width: 100%;
  margin: auto;
}
#photos {
  margin-top: 2em;
}
.images {
  height: 100%;
  width: 100%;
  margin-top: 2px;
}

.photo {
  display: inline-block;
  width: 100%;
 
}

.photo img {
  filter: grayscale(100%);
  transition: 10s !important;
}

.photo img:hover {
  filter: grayscale(0%);
  transition: 0.6s !important;
}

@media screen and (max-width: 1000px) {
  
  .container {
    column-count: 2;
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  
  .container {
    column-count: 2;
    width: 95%;
  }
}