.container {
  column-count: 4;
  grid-gap: 2px;
  width: 100%;
}

.images {
  height: 100%;
  width: 100%;
}

.photo {
  display: inline-block;
}

.photo img {
  filter: grayscale(100%);
  transition: 20s !important;
}

.photo img:hover {
  filter: grayscale(0%);
  transition: 0.2s !important;
}

@media screen and (max-width: 1000px) {
  .container {
    column-count: 2;
    width: 95%;
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 320px) {
  .container {
    column-count: 2;
    width: 95%;
    padding-bottom: 1em;
  }
}
