a {
  max-height: 50%;
  position: relative;
  color: #aaa;
  transition: 0.5s all;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.copyright {
  color: #aaa;
  position: relative;
  background-color: #111;
  width: 100%;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #222;
}

.social img {
  margin: 0 15px;
  height: 200%;
  transition: all 0.2 ease;
}

.scroll-up {
  width: 30px;
  height: 30px;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 2;
  font-size: 30px;
  color: #bbb;
  transition: 0.3s;
  background: none;
}

.scroll-up:active,
.scroll-up:focus {
  outline: 0;
}

.scroll-up:hover {
  color: #f4f4f4;
}

.p-copyright {
  margin: 0;
  padding: 30px;
}
