a {
  max-height: 50%;
  position: relative;
  color: #aaa;
  transition: 0.5s all;
}

.Footer {
  width: 100%;
  padding-top:2em;
  position: relative;
  padding-bottom: 2.5em;
  margin-top: 2em;
  background: #555;
  color: white;
}

a:hover {
  color: seashell;
  text-decoration: none;
}

.copyright {
  color: #aaa;
  font-size: smaller;
  position: relative;
  bottom: -3em;
}

.b {
  position: relative;
}

.b:after {
  color: white;
  content: '\02191';
  font-size: 42px;
  position: absolute;
  top: 45%;
  margin-top: -32px;
  left: 49%;
  margin-left: -.22em;
}

.b:hover .foreground {
  stroke-dashoffset: 0;
  transform: rotate(90deg);
}