.navbar {
  display: flex;
  position: fixed;
  top: 0;
}

.my-navbar {
  background-color: #111;
}

.img-logo {
  height: 44px;
}

.nav-link {
  font-size: 1.15em;
  transition: 0.5 all;
}

.menu .nav-link {
  margin: 0 10px;
  padding: 0 !important;
  position: relative;
  -webkit-transition: color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.menu .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: orange;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 100% 50% 0;
  -ms-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    -webkit-transform.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  box-sizing: border-box;
}

.menu .nav-link:hover {
  color: #f4f4f4 !important;
  transition: all 0.3s;
  -webkit-transition: color 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: color 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.menu .nav-link:hover:after {
  -webkit-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s,
    -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
