.navbar {
  display: flex;
  position: fixed;
  align-content: center;
  top: 0;
  opacity: 0.97;
}

.logo-name {
  display: flex;
  align-items: center;
}

/* .nav {
  position: fixed;
  align-content: flex-end;
  top: 1.5;
} */
.nav-link {
  font-size: 1.15em;
  transition: 0.5 all;
  color: #aaa;
}

.nav-link:hover {
  color: seashell;
}

@media (min-width: 600px) {
  .nav-link {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
} 