
.homeContent {
  height: 100vh;
  width: 100vw;
  margin-top: 2em;
}

.projects {
  position: relative;
  width: 80vw;
  left: 10%
}

.projects-header{
  margin-bottom: 1em;
  margin-top: 2em;
}

.card {
  background-color: #404040;
  color: white;
}

.card-footer {
  color: #e6e6e6
}