.container-section {
  background: #333;
}


.container-section.dark {
  background: #333;
  color: #f4f4f4;
  transition: 0.3s all;
}

.container-section.light {
  background: #f9f6f7;
  color: #000;
  transition: 0.3s all;
}


.card-group > .card {
  margin: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.card.dark {
  background-color: #313131;
  color: #e6e6e6;
}

.card.light {
  background-color: #f4f4f4;
  color: #313131;
}

.card-img-top {
  max-width: 70%;
  height: auto;
  margin: auto;
}

.card-footer.dark {
  color: #e6e6e6;
  border-top: 0;
  font-size: 10pt;
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: #292929;
}

.card-footer {
  padding: 0;
}

.card-footer.light {
  color: #292929;
  border-top: 0;
  font-size: 10pt;
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: #fff;
}
