.home {
  display: flex;
  height: 100vh;
  background-image: url('/static/media/new-york.9f604ff2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-header {
  height: 100vh;
}
.title-header {
  position: relative;
  top: 50vh;
  left: 35vw;
  color: white;
  font-size: 3em;
}

.title-header-text {
  position: relative;
  color: white;
  top: 50vh;
  left: 27.8vw;
  font-size: 1.5em;
}